@model IEnumerable<ASP_Project.Models.EBook>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Find" class="btn btn-success">Find Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var x = (int)(item.BookPrice * ViewBag.Tax); ;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
               
            <td>
                   @x.ToString("c")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
