@model ASP_Project.Models.ELibrary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ELibrary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eBook.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ELibraryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
